@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');

body {
  background:black;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  width:100%; 
  min-height:100vh;
  box-sizing: border-box;
  margin-right: 10vmin;
  margin-left: 10vmin;
  padding-right: 2vmin;
  padding-left: 2vmin;
}
h1{
  font-family: 'Sigmar One', cursive;
  color: yellow;
  font-size: 8vmin;
}
h2{
  font-family: 'Bungee Hairline', cursive;
  color:white;
  font-weight: 500px;
  font-size: 4vmin ;
}
h3{
  font-family: 'Bungee Hairline', cursive;
  color: yellow;
  font-size: 3vmin ;
}

p {
  font-family: 'Bungee Hairline', cursive;
  color: white;
  padding-right: 10vmin;
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 100vmin;
  margin: 0 auto;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 0.2vmin;
  background-color: yellow;
  top: 5vmin;
  bottom: 0;
  left: -0.5%;
  border-radius: 10px;
}

.container{
  position:center;
  padding-left: 10vmin;
}

img {
  max-width: 100%;
  transform: translateX(-50px);
  transform: translateX(0px);
}

h2{
  -webkit-transform: translate(0,3vmin);
  transition: 1s;
}

img:hover {
  transform: scale(0.8);
  transition: 0.2s;
}

footer{
  background-color: yellow;
  height: 5vmin;
  color: black;
  text-align: center;
  padding: 1vmin;
  font-family: 'Bungee Hairline', cursive;
}